/* FINAL GENERATED FONT CSS */
@import url('/css/global--poppins.css');
@import url('/css/global--inter.css');

:root {
  --font-headline: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-family: var(--font-body); }
body, p, span, li, a { font-family: var(--font-body); }