---
import type { SiteConfig } from "@types";

import ExternalLink from "@icons/ExternalLink.astro";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-base-300 px-5 pt-5 sm:pt-10 pb-8 sm:pb-12 text-center text-base-content"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="inline-flex items-center gap-2 px-4 py-3 after:relative after:bottom-[-4px] hover:text-primary"
          >
            {text}
             <ExternalLink class="relative -bottom-[1px] size-4.5"  />
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs">
    {currentYear} {author}. All rights reserved.
  </p>
</footer>
