---
import { slugify } from "src/utils/slugify";

interface Props {
  text: string;
  textAling?: "start" | "center" | "end"; // made optional
  href: string;
}

const { text, textAling = "start", href } = Astro.props;
---

<section id={slugify(href)} class="scroll-mt-20 max-w-3xl mx-auto">
  <h2
    class={[
      "mb-10 text-3xl font-bold tracking-tight text-base-content md:text-4xl",
      textAling === "center" && "text-center",
      textAling === "end" && "text-end",
      textAling === "start" && "text-start",
    ]
      .filter(Boolean)
      .join(" ")}
  >
    {text}
  </h2>
  <slot />
</section>
